
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ایجاد کاربر جدید در سامانه</title>
</head>
<body>
    <form method="post">
        <p>FullName : <input type="text" name="FullName" /></p>
        <p>UserName : <input type="text" name="UserName" /></p>
        <p>Password : <input type="text" name="Password" /></p>
        <p><input type="submit" value="Login" /></p>
    </form>
</body>
</html>
