@using AccessManagement.Models
@model List<ModuleModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var item in Model)
    {
        @if (item.HasPermision)
        {
            <p>@item.Title</p>
        }

    }
</body>
</html>
